<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873514032021-i011bnup6mg7q7hmuuoo0i71lr31e711.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873514032021-i011bnup6mg7q7hmuuoo0i71lr31e711</string>
	<key>API_KEY</key>
	<string>AIzaSyBYtC0fxwWerNDPRG-UG8rDAJbOczNmEFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>873514032021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OptikkalTech.thementr</string>
	<key>PROJECT_ID</key>
	<string>thementr-f6c53</string>
	<key>STORAGE_BUCKET</key>
	<string>thementr-f6c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873514032021:ios:2eeed4a69c75f1f541349c</string>
</dict>
</plist>